###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=***
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://app:***@database:5432/app?serverVersion=15&charset=utf8"
POSTGRES_DB=app
POSTGRES_PASSWORD=***
POSTGRES_USER=app
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###
###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=a3984c5046ce6a39bb3206367a79865519d4c22bfcd30f2038613e7d775a80e5
###< lexik/jwt-authentication-bundle ###
